@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');


a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #ff9800;
}


nav.navbar{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #fff;
  padding-top: 10px; 
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid #ccc;
  
}

nav.navbar ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px; 
}

nav.navbar ul li{
  list-style-type: none;
  padding: 10px 10px;
  
}

nav.navbar ul li a{
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  text-transform: capitalize;
  color: #202329;
}

nav.navbar ul li a:hover{
  color: #ff9800;
}

nav.navbar ul li a.active:last-child{
  color: #ff9800;
}

h1.title{
  font-family: 'Segoe UI', sans-serif;
  font-weight: 900px;
  text-align: center;
  font-size: 101px;
  line-height: 111px;
  color: #202329;
  margin-top: 85px;
  margin-bottom: 25px;
}

.location, .fE, .loc-type, .ep, .profile-gender, .profile-origin, .profile-location{
  margin-top: 10px;
}


.location span, .fE span, .loc-type span, .ep span, .profile-gender span, .profile-origin span, .profile-location span{
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #9e9e9e;
  display: block;
}

.location p, .fE p, .loc-type p, .ep p, .profile-gender p, .profile-origin p, .profile-location p{
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
}

.location p:hover, .fE p:hover, .loc-type p:hover, .ep p:hover, .profile-gender p:hover, .profile-origin p:hover, .profile-location p:hover{
  color: #ff9800;
}

.all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 45px;
  padding-top: 40px;
  padding-bottom: 40px;
  background: rgb(36, 40, 47);
}

.all .cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 40px;
}


.all .locations{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  max-width: 95%;
}

.all .episodes{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  max-width: 85%;
  margin: 0 auto;
  margin-top: 15px;
}


.all .locations .loc, .all .episodes .eps{
  list-style-type: none;
  background: rgb(60, 62, 68);
  color: #fff;
  padding: 10px 10px;
  border-radius: 0.5rem;
}


.all .cards > div {
  max-height: 600px;
  width: 300px;
  position: relative;
  cursor: pointer;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  background: rgb(60, 62, 68);
  padding-bottom: 15px;
  border-radius: 0.5rem;
}

.card img {
  border-radius: 5px 5px 0 0;
  width: 300px;
  max-height: 500px;
}

.card:hover {
  box-shadow: 5px 12px 20px 5px rgba(0, 0, 0, 0.5);
}

.card-text, .card-textx, .profile-name {
  padding: 2px 16px;
}


.card .card-text, .profile .profile-name{
  color: #fff;
}

h2{
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 800;
  font-size: 35px;
  line-height: 30px;
  color: #fff;
}

.card-text h3, .profile-name h3{
  font-weight: 800;
  font-size: 27px;
  line-height: 30px;
}

.card-text h3:hover, .profile-name h3:hover{
  font-weight: 800;
  font-size: 27px;
  line-height: 30px;
  color: #ff9800;
}


.card-textx h3{
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
}

.sub-tittle, .profile-status {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 26px;
}

.profile-status{
  margin-top: 10px;
}

.sub{
  color: #fff;
}

.where{
  font-size: 1.1rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: rgb(158, 158, 158);
    margin-bottom: 20px;
    margin-top: 35px;
}

.pagination {
  margin-top: 40px;
  display: inline-block;
}

.pagination a {
  cursor: pointer;
  color: #fff;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  font-weight: bold;
}

.pagination a.active {
  background: rgb(60, 62, 68);
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ff9800;
  color: #fff;
  border-radius: 5px;
}

footer.footer{
  background: rgb(32, 35, 41);
  color: rgb(158, 158, 158);
  padding: 3.5rem 0px;
  text-align: center;
}

footer.footer p{
  line-height: 22px;
  font-weight: 400;
  font-size: 16px;
  color: #9e9e9e;
}

footer.footer p a{
  font-weight: 700;
}



.profile-location{
  margin-bottom: 20px;
}


@media (max-width: 600px) {
  .all .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    margin-top: 40px;
  }
  h1.title{
    font-family: 'Segoe UI', sans-serif;
    font-weight: 900px;
    text-align: center;
    font-size: 75px;
    line-height: 111px;
    color: #202329;
    margin-top: 65px;
    margin-bottom: 15px;
  }
  .sub-text {
    max-width: 85%;
    margin-bottom: 10px;
    font-size: 20px;
  }
  footer.footer p a:last-child{
    display: block;
    margin-top: 7px;
  }
}